<section id="experience" class="py-16">
	<h2 class="text-5xl font-semibold mb-6 text-orange-500 text-center">
		Experiencia Profesional
	</h2>
	<article class="mb-6">
		<h3 class="text-3xl font-semibold">Coordinador IT</h3>
		<p class="text-2xl text-zinc-600 dark:text-zinc-300">
			Sistemas Logísticos Industriales S.A.S. - Colombia
		</p>
		<p class="text-zinc-600 dark:text-zinc-300">Febrero 2007 – Marzo 2023</p>
		<ul class="list-disc ml-6 mt-2 text-zinc-700 dark:text-zinc-400 space-y-1">
			<li>
				Lideré proceso de implementación del Sistema de Control de Inventarios
				de la empresa.
			</li>
			<li>
				Diseñé e implementé el Sistema de Registro de Horario Laboral de la
				empresa para cálculo y reporte de horas extras.
			</li>
			<li>
				Implementé módulo de registro de alistamiento de pedidos (inicio y
				finalización) para control e indicadores de gestión operativa.
			</li>
			<li>Brindé soporte técnico a usuarios internos y clientes externos.</li>
		</ul>
	</article>
</section>
