---
// src/components/ServicesSection.astro
---

<section id="services" class="py-16">
	<h2 class="text-5xl font-semibold mb-6 text-orange-500 text-center">
		Servicios
	</h2>
	<ul class="list-disc ml-6 text-zinc-700 dark:text-zinc-400">
		<li>Soporte IT (Instalación y configuración de software)</li>
		<li>Desarrollo de interfaces modernas con tecnologías Web</li>
	</ul>
</section>
